 /* Common Styles */
 @font-face {
   font-family: 'KOTRA_GOTHIC';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff') format('woff');
   font-weight: normal;
   font-style: normal;
 }

 html,
 body {
   position: relative;
   height: 1900px;
   background: #eee;
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
   font-size: 14px;
   color: #000;
   margin: 0;
   padding: 0;
 }

 .Title {
   position: relative;
   font-family: 'KOTRA_GOTHIC';
   font-weight: 900;
   font-size: 24px;
   margin: 20px;
   top: 8px;
   width: 700px;
   display: block;

 }

 span {
   color: #404040;
 }

 .swiper-slide img {
   display: block;
   width: 100%;
   object-fit: cover;
 }

 /* practice.html styles */
 .practice-style.swiper {
   margin: 20px 0;
   width: 100%;
   height: 700px;
 }

 .practice-style.swiper-slide {
   border-radius: 20px;
   text-align: center;
   font-size: 18px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
 }

 /* flipSwiper.html styles */
 .flip-style.swiper {
   width: 300px;
   height: 700px;
   padding: 50px;
 }

 .flip-style.swiper-slide {
   background-position: center;
   background-size: cover;
   width: 300px;
   height: 300px;
 }

 .flip-style.swiper-slide img {
   height: auto;
   margin-top: 100px;
 }

 .Price {
   font-size: 14px;
 }

 h2 {
   font-size: 16px;
   padding: 5px;
 }

 .red {
   color: red;
   font-size: 12px;
   font-weight: 300;
 }

 .inner .img {
   width: 300px;
   padding: 30px;
   margin-top: 50px;
 }

 /* BUTTON */
 .Button1,
 .Button2,
 .Button3,
 .Button4,
 .Button5,
 .Button6,
 .Button7,
 .Button8,
 .Button9 {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   border: none;
   background-repeat: no-repeat;
   margin-top: 60px;
 }

 .inner .Button1 {
   background-color: #7D8C7D;
 }

 .inner .Button2 {
   background-color: #F2AD85;
 }

 .inner .Button3 {
   background-color: #A7C1D9;
 }

 .inner .Button4 {
   background-color: #A65198;
 }

 .inner .Button5 {
   background-color: #F2B035;
 }

 .inner .Button6 {
   background-color: #736A68;
 }

 .Button10,
 .Button11,
 .Button12,
 .Button13,
 .Button14,
 .Button15 {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   border: none;
   background-repeat: no-repeat;
   margin-top: 50px;
 }

 .inner .Button7 {
   background-color: #734656;
 }

 .inner .Button8 {
   background-color: #8C6E5D;
 }

 .inner .Button9 {
   background-color: #364F59;
 }

 .inner .Button10 {
   background-color: #BFBFBF;
 }

 .inner .Button11 {
   background-color: #404040;
 }

 .inner .Button12 {
   background-color: #8565A6;
 }

 .inner .Button13 {
   background-color: #8C8A68;
 }

 .inner .Button14 {
   background-color: #D9C3C1;
 }

 .inner .Button15 {
   background-color: #465973;
 }

 .Button01,
 .Button02,
 .Button03 {
   width: 18px;
   height: 18px;
   border-radius: 50%;
   border: none;
   background-repeat: no-repeat;
   margin-top: 20px;
 }


 .Button01 {
   background-color: #345B73;
 }

 .Button02 {
   background-color: #0D0D0D;
 }

 .Button03 {
   background-color: #D9B1AD;
 }